.mat-list-item:hover{
    background-color: #FE5419;
    }

    .mat-list-item{
        background-color: #D3D3D3;
        }

    .mat-list-base{
        padding-top:0px;
    }

    .example-container
    {
        height:100%;
        width:100%
    }
.mat-toolbar-row
{
    background-color: #FE5419;
}
